body {
  background-color: #fffbf0;
  font-family: "Montserrat", sans-serif;
}
ul li {
  list-style: none;
}
ul li span {
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
}

.card {
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
}

/* not found all value */
.notFound {
  font-size: 25px;
  display: none;
}
#empty {
  display: none;
  font-size: 25px;
}

.button {
  display: none;
}

/* loading spiner */

#spiner {
  display: none;
}

.card {
  border-radius: 20px;
}
@media only screen and (max-width: 600px) {
  .modifi {
    width: 100% !important;
  }
  .modifi img {
    width: 75% !important;
  }
  .modifi-input {
    width: 95% !important;
  }
}
